<div class="account-card">
  <div class="account-header">
    <div class="avatar-wrapper">
      <div class="avatar">
        <img [src]="user?.profilePictureUrl! || 'assets/avatar.svg'" alt="User avatar" />
        <label class="upload-btn">
          <input type="file" (change)="onFileSelected($event)" accept="image/*" hidden />
          <img src="assets/icons/photo_media.svg" alt="Upload icon" />
        </label>
      </div>
<!--      <div class="rating-badge">-->
<!--        <img src="assets/star-rating.svg" alt="User star" />-->
<!--        <span class="rating-value">{{ user?.rating }}</span>-->
<!--      </div>-->
    </div>

    <div class="account-info">
      <p><strong>Nume:</strong> {{ user?.fullName }} </p>
      <p><strong>Adresa mail:</strong> {{ user?.email }}</p>
      <p><strong>Parolă:</strong> ********</p>
      <p><strong>Creat la data de:</strong> {{ user?.createdAt | date:'dd.MM.yyyy' }}</p>
    </div>
    <app-icon-button
      [label]="'Editează profilul'"
      [icon]="'assets/icons/edit.svg'"
      (onClick)="onEdit()">
    </app-icon-button>
  </div>

<!--  *ngIf="user?.role === UserRoleEnum.Specialist"-->
  <div class="card">
    <div class="info">
      <h2 class="full-name">Anunțul tău</h2>
      <div class="details-block">
        <div class="row">
          <div class="categories">
            <span class="label">Categorii:</span>
            <span class="tag" *ngFor="let cat of user?.specialist?.categories">{{ cat.name }}</span>
          </div>

          <div class="experience">
            <span class="label">Ani experiență:</span>
            {{ user?.specialist?.yearsExperience }}
          </div>
        </div>

        <div class="description">
          <span class="label">Descriere:</span>
          {{ user?.specialist?.description }}
        </div>
      </div>
    </div>
    <app-icon-button
      [label]="'Editează anunțul'"
      [icon]="'assets/icons/edit.svg'"
      (onClick)="onEdit()">
    </app-icon-button>
  </div>

  <div class="account-actions">
    <app-icon-button
      [label]="'Recenziile tale'"
      [icon]="'assets/icons/reviews.svg'"
      (onClick)="goToReviews()">
    </app-icon-button>
    <app-icon-button
      [label]="'Istoric servicii'"
      [icon]="'assets/icons/history.svg'"
      (onClick)="goToHistory()">
    </app-icon-button>
<!--    <app-icon-button-->
<!--      [label]="'Contul ExpertEase'"-->
<!--      [icon]="'assets/icons/account.svg'"-->
<!--      (onClick)="goToExpertEase()">-->
<!--    </app-icon-button>-->
    <app-icon-button
      [label]="'Setările contului'"
      [icon]="'assets/icons/settings.svg'"
      (onClick)="goToSettings()">
    </app-icon-button>
    <app-icon-button
      [label]="'Deconectează-te'"
      [icon]="'assets/icons/logout.svg'"
      (onClick)="logout()">
    </app-icon-button>
  </div>
</div>
