<div class="admin-wrapper">
  <div class="admin-table-container">
    <h2>Administrează toți utilizatorii</h2>

    <table class="admin-table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Nume</th>
        <th>Email</th>
        <th>Rol</th>
        <th>Acțiuni</th>
      </tr>
      </thead>
      <tbody>
      <!--    <tr *ngFor="let user of users; let i = index">-->
      <!--      <td>{{ user.id }}</td>-->
      <!--      <td>{{ user.name }}</td>-->
      <!--      <td>{{ user.email }}</td>-->
      <!--      <td>{{ user.role }}</td>-->
      <!--      <td>-->
      <!--        <a class="action-link edit" (click)="editUser(user)">edit</a>-->
      <!--        <a class="action-link delete" (click)="deleteUser(user)">delete</a>-->
      <!--        <a class="action-link view" (click)="viewUser(user)">view</a>-->
      <!--      </td>-->
      <!--    </tr>-->
      </tbody>
    </table>
  </div>
</div>
