<!--<div class="admin-wrapper">-->
<!--  <div class="admin-table-container">-->
<!--    <h2>Administrează toți utilizatorii</h2>-->

<!--    <table class="admin-table">-->
<!--      <thead>-->
<!--      <tr>-->
<!--        <th>ID</th>-->
<!--        <th>Nume</th>-->
<!--        <th>Email</th>-->
<!--        <th>Rol</th>-->
<!--        <th>Acțiuni</th>-->
<!--      </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
<!--      &lt;!&ndash;    <tr *ngFor="let user of users; let i = index">&ndash;&gt;-->
<!--      &lt;!&ndash;      <td>{{ user.id }}</td>&ndash;&gt;-->
<!--      &lt;!&ndash;      <td>{{ user.name }}</td>&ndash;&gt;-->
<!--      &lt;!&ndash;      <td>{{ user.email }}</td>&ndash;&gt;-->
<!--      &lt;!&ndash;      <td>{{ user.role }}</td>&ndash;&gt;-->
<!--      &lt;!&ndash;      <td>&ndash;&gt;-->
<!--      &lt;!&ndash;        <a class="action-link edit" (click)="editUser(user)">edit</a>&ndash;&gt;-->
<!--      &lt;!&ndash;        <a class="action-link delete" (click)="deleteUser(user)">delete</a>&ndash;&gt;-->
<!--      &lt;!&ndash;        <a class="action-link view" (click)="viewUser(user)">view</a>&ndash;&gt;-->
<!--      &lt;!&ndash;      </td>&ndash;&gt;-->
<!--      &lt;!&ndash;    </tr>&ndash;&gt;-->
<!--      </tbody>-->
<!--    </table>-->
<!--  </div>-->
<!--</div>-->

<!--<div *ngIf="loading">Se încarcă utilizatorii...</div>-->
<!--<div *ngIf="error" class="error">{{ error }}</div>-->

<!--<table *ngIf="!loading && users.length > 0" class="admin-table">-->
<!--  <thead>-->
<!--  <tr>-->
<!--    <th>ID</th>-->
<!--    <th>Nume</th>-->
<!--    <th>Email</th>-->
<!--    <th>Rol</th>-->
<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--  <tr *ngFor="let user of users">-->
<!--    <td>{{ user.id }}</td>-->
<!--    <td>{{ user.firstName }} {{ user.lastName }}</td>-->
<!--    <td>{{ user.email }}</td>-->
<!--    <td>{{ user.role }}</td>-->
<!--  </tr>-->
<!--  </tbody>-->
<!--</table>-->

<!--<div *ngIf="!loading && users.length === 0">Nu există utilizatori de afișat.</div>-->
