<app-pagination
  [currentPage]="currentPage"
  [pageSize]="pageSize"
  [pageSizeOptions]="[5, 10, 20]"
  [totalItems]="totalItems"
  (pageChange)="onPageChange($event)"
  (pageSizeChange)="onPageSizeChange($event)">
</app-pagination>

<div class="admin-wrapper">
  <div class="admin-table-container">
    <h2>Administrează toți specialiștii</h2>
    <div class="search-box-wrapper">
      <app-search-input (searchChanged)="onSearch($event)"></app-search-input>
    </div>
    <button class="add-btn" (click)="openAddUserForm()">Adaugă specialist</button>
    <app-dynamic-table
      [columns]="columns"
      [data]="users">
    </app-dynamic-table>
  </div>
</div>

<div class="modal-overlay" *ngIf="isAddUserFormVisible">
  <div class="modal">
    <div class="close-button-wrapper">
      <button class="close-button" (click)="closeAddUserForm()">×</button>
    </div>
    <app-dynamic-form
      [fields]="addEntityFormFields"
      [submitText]="'Adaugă'"
      (formSubmit)="addEntity($event)">
    </app-dynamic-form>
  </div>
</div>

<div class="modal-overlay" *ngIf="isUpdateUserFormVisible">
  <div class="modal">
    <button class="close-button" (click)="closeUpdateUserForm()">×</button>
    <app-dynamic-form
      [fields]="updateEntityFormFields"
      [initialData]="formData"
      [submitText]="'Actualizează'"
      (formSubmit)="updateEntity($event)">
    </app-dynamic-form>
  </div>
</div>

<div class="admin-overlay" *ngIf="isUserDetailsVisible">
  <div class="modal">
    <button class="close-button" (click)="closeUserDetails()">×</button>
    <app-admin-details
      *ngIf="isUserDetailsVisible"
      [entity]="entityDetails"
      [title]="'Detalii specialist'"
      (close)="closeUserDetails()">
    </app-admin-details>
  </div>
</div>

