<div class="home-wrapper">
  <div class="home-header">
    <h1 style="font-style: italic;">Ai o țeavă spartă?</h1>
    <h1 style="font-style: italic;">Ți s-a stricat chiuveta?</h1>
    <h1>Nu-i problemă, găsește specialistul potrivit pe <strong class="brand-highlight">ExpertEase</strong>!</h1>
  </div>
  <p>Peste <strong>100 de specialiști</strong> înregistrați pe platforma noastră!</p>
</div>

<div class="about-info">
  <h3>Cine suntem noi?</h3>
  <p>Compania ExpertEase se ocupă cu problemele tale în materie de reparații sau instalații.</p>
  <h3>Cum facem asta?</h3>
  <p>Îți punem la dispoziție peste 100 de specialiști din domeniu, cu varii nivele de experiență, care sunt preocupați în a îți rezolva problema.</p>
</div>
