<!--<div class="overlay">-->
  <div class="specialist-card">
    <button class="close-btn" aria-label="Înapoi" (click)="onCloseDetails()">←</button>
    <div class="info">
      <div class="top-row">
        <div class="avatar-wrapper">
          <div class="avatar">
            <img [src]="specialist?.profilePictureUrl || 'assets/avatar.svg'" alt="User avatar"/>
          </div>
          <div class="rating-badge">
            <img src="assets/star-rating.svg" alt="User star" />
            <span class="rating-value">{{ specialist?.rating }}</span>
          </div>
        </div>
        <h2>{{ specialist?.fullName }}</h2>
      </div>
<!--      <div class="same-row">-->
        <p>
          <strong>Email:</strong> {{ specialist?.email }}
          <strong style="margin-left: 20px;">Telefon:</strong> {{ specialist?.phoneNumber }}
        </p>
<!--      </div>-->
      <p><strong>Adresă:</strong> {{ specialist?.address }}</p>
      <p><strong>Categorii:</strong> {{ specialist?.categories?.join(', ') }}</p>
      <p><strong>Ani experiență:</strong> {{ specialist?.yearsExperience }}</p>
      <p><strong>Descriere:</strong> {{ specialist?.description }}</p>
    </div>
  </div>
<!--</div>-->
