<div class="overlay">
  <div class="specialist-card">
    <div class="top-row">
      <div class="avatar">
        <img src="/assets/avatar.svg" alt="User avatar" />
      </div>
      <h3>{{ dummySpecialist.firstName }} {{ dummySpecialist.lastName }}</h3>
    </div>

    <div class="info">
      <div class="top-row">
        <p><strong>Email:</strong> {{ dummySpecialist.email }}</p>
        <p><strong>Telefon:</strong> {{ dummySpecialist.phoneNumber }}</p>
      </div>
      <p><strong>Adresă:</strong> {{ dummySpecialist.address }}</p>
      <p><strong>Categorii:</strong> {{ dummySpecialist.categories.join(', ') }}</p>
      <p><strong>Ani experiență:</strong> {{ dummySpecialist.yearsExperience }}</p>
      <p><strong>Descriere:</strong> {{ dummySpecialist.description }}</p>
    </div>
  </div>
</div>
