<!--<form #formRef="ngForm" (ngSubmit)="onSubmit(formRef)" class="form-layout">-->
<!--  <div class="form-group" [ngClass]="field.class" *ngFor="let field of fields">-->
<!--    <label [for]="field.key">{{ field.label }}</label>-->

<!--    <div [ngClass]="field.type === 'select' ? 'select-box' : 'input-box'">-->
<!--      <ng-container [ngSwitch]="field.type">-->

<!--        &lt;!&ndash; Text &ndash;&gt;-->
<!--        <div *ngSwitchCase="'text'">-->
<!--          <input type="text"-->
<!--                 [id]="field.key"-->
<!--                 [name]="field.key"-->
<!--                 [(ngModel)]="formData[field.key]"-->
<!--                 [placeholder]="field.placeholder"-->
<!--                 [required]="!!field.required"-->
<!--                 #ctrl="ngModel" />-->

<!--          <div class="error" *ngIf="field.required && ctrl.invalid && (ctrl.dirty || ctrl.touched)">-->
<!--            {{ field.label }} este obligatoriu.-->
<!--          </div>-->
<!--        </div>-->

<!--        &lt;!&ndash; Email &ndash;&gt;-->
<!--        <div *ngSwitchCase="'email'">-->
<!--          <input type="email"-->
<!--                 [id]="field.key"-->
<!--                 [name]="field.key"-->
<!--                 [(ngModel)]="formData[field.key]"-->
<!--                 [placeholder]="field.placeholder"-->
<!--                 [required]="!!field.required"-->
<!--                 #ctrl="ngModel" />-->

<!--          <div class="error" *ngIf="field.required && ctrl.invalid && (ctrl.dirty || ctrl.touched)">-->
<!--            {{ field.label }} este obligatoriu.-->
<!--          </div>-->
<!--        </div>-->

<!--        &lt;!&ndash; Password &ndash;&gt;-->
<!--        <div *ngSwitchCase="'password'">-->
<!--          <input type="password"-->
<!--                 [id]="field.key"-->
<!--                 [name]="field.key"-->
<!--                 [(ngModel)]="formData[field.key]"-->
<!--                 [placeholder]="field.placeholder"-->
<!--                 [required]="!!field.required"-->
<!--                 #ctrl="ngModel" />-->

<!--          <div class="error" *ngIf="field.required && ctrl.invalid && (ctrl.dirty || ctrl.touched)">-->
<!--            {{ field.label }} este obligatoriu.-->
<!--          </div>-->
<!--        </div>-->

<!--        &lt;!&ndash; Number &ndash;&gt;-->
<!--        <div *ngSwitchCase="'number'">-->
<!--          <input type="number"-->
<!--                 [id]="field.key"-->
<!--                 [name]="field.key"-->
<!--                 [(ngModel)]="formData[field.key]"-->
<!--                 [placeholder]="field.placeholder"-->
<!--                 [required]="!!field.required"-->
<!--                 #ctrl="ngModel" />-->

<!--          <div class="error" *ngIf="field.required && ctrl.invalid && (ctrl.dirty || ctrl.touched)">-->
<!--            {{ field.label }} este obligatoriu.-->
<!--          </div>-->
<!--        </div>-->

<!--        &lt;!&ndash; Select &ndash;&gt;-->
<!--        <div *ngSwitchCase="'select'">-->
<!--          <select [id]="field.key"-->
<!--                  [name]="field.key"-->
<!--                  [(ngModel)]="formData[field.key]"-->
<!--                  [required]="!!field.required"-->
<!--                  #ctrl="ngModel"-->
<!--                  [ngClass]="{ 'placeholder-selected': formData[field.key] === '' }">-->
<!--            <option value="" disabled hidden>{{ field.placeholder || 'Selectează o opțiune' }}</option>-->
<!--            <option *ngFor="let option of field.options" [value]="option">{{ option }}</option>-->
<!--          </select>-->

<!--          <div class="error" *ngIf="field.required && ctrl.invalid && (ctrl.dirty || ctrl.touched)">-->
<!--            {{ field.label }} este obligatoriu.-->
<!--          </div>-->
<!--        </div>-->

<!--        &lt;!&ndash; Textarea &ndash;&gt;-->
<!--        <div *ngSwitchCase="'textarea'">-->
<!--          <textarea [id]="field.key"-->
<!--                    [name]="field.key"-->
<!--                    [(ngModel)]="formData[field.key]"-->
<!--                    [placeholder]="field.placeholder"-->
<!--                    [required]="!!field.required"-->
<!--                    rows="4"-->
<!--                    #ctrl="ngModel">-->
<!--          </textarea>-->

<!--          <div class="error" *ngIf="field.required && ctrl.invalid && (ctrl.dirty || ctrl.touched)">-->
<!--            {{ field.label }} este obligatoriu.-->
<!--          </div>-->
<!--        </div>-->

<!--        &lt;!&ndash; Fallback &ndash;&gt;-->
<!--        <div *ngSwitchDefault>-->
<!--          <input [type]="field.type"-->
<!--                 [id]="field.key"-->
<!--                 [name]="field.key"-->
<!--                 [(ngModel)]="formData[field.key]"-->
<!--                 [placeholder]="field.placeholder"-->
<!--                 [required]="!!field.required"-->
<!--                 #ctrl="ngModel" />-->

<!--          <div class="error" *ngIf="field.required && ctrl.invalid && (ctrl.dirty || ctrl.touched)">-->
<!--            {{ field.label }} este obligatoriu.-->
<!--          </div>-->
<!--        </div>-->
<!--      </ng-container>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="form-group full-width">-->
<!--&lt;!&ndash;    <div class="button-wrapper">&ndash;&gt;-->
<!--&lt;!&ndash;      <button type="submit" class="send-button">{{ submitText }}</button>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--    <button type="submit"-->
<!--            [disabled]="formRef.invalid"-->
<!--            class="send-button">-->
<!--      {{ submitText }}-->
<!--    </button>-->
<!--  </div>-->
<!--</form>-->

<form #formRef="ngForm" (ngSubmit)="onSubmit(formRef)" class="form-layout">
  <div class="form-group" [ngClass]="field.class" *ngFor="let field of fields">
    <label [for]="field.key">{{ field.label }}</label>

    <div class="field-wrapper">
      <ng-container [ngSwitch]="field.type">

        <!-- Text -->
        <div *ngSwitchCase="'text'">
          <div class="input-box">
            <input type="text"
                   [id]="field.key"
                   [name]="field.key"
                   [(ngModel)]="formData[field.key]"
                   [placeholder]="field.placeholder"
                   (input)="field.key === 'phoneNumber' && liveFormatPhoneNumber(field.key)"
                   [required]="!!field.required"
                   #ctrl="ngModel" />
          </div>
          <div class="error" *ngIf="field.required && ctrl.invalid && (ctrl.dirty || ctrl.touched || formSubmitted)">
            Câmpul {{ field.label | lowercase }} este obligatoriu.
          </div>
        </div>

        <!-- Email -->
        <div *ngSwitchCase="'email'">
          <div class="input-box">
          <input type="email"
                 [id]="field.key"
                 [name]="field.key"
                 [(ngModel)]="formData[field.key]"
                 [placeholder]="field.placeholder"
                 [required]="!!field.required"
                 #ctrl="ngModel" />
          </div>
          <div class="error" *ngIf="field.required && ctrl.invalid && (ctrl.dirty || ctrl.touched || formSubmitted)">
            Câmpul {{ field.label | lowercase }} este obligatoriu.
          </div>
        </div>

        <!-- Password -->
        <div *ngSwitchCase="'password'">
          <div class="input-box">
          <input type="password"
                 [id]="field.key"
                 [name]="field.key"
                 [(ngModel)]="formData[field.key]"
                 [placeholder]="field.placeholder"
                 [required]="!!field.required"
                 #ctrl="ngModel" />
          </div>
          <div class="error" *ngIf="field.required && ctrl.invalid && (ctrl.dirty || ctrl.touched || formSubmitted)">
            Câmpul {{ field.label | lowercase }} este obligatoriu.
          </div>
        </div>

        <!-- Number -->
        <div *ngSwitchCase="'number'">
        <div class="input-box">
          <input type="number"
                 [id]="field.key"
                 [name]="field.key"
                 [(ngModel)]="formData[field.key]"
                 [placeholder]="field.placeholder"
                 [required]="!!field.required"
                 #ctrl="ngModel" />
        </div>
          <div class="error" *ngIf="field.required && ctrl.invalid && (ctrl.dirty || ctrl.touched || formSubmitted)">
            Câmpul {{ field.label | lowercase }} este obligatoriu.
          </div>
        </div>

        <!-- Select -->
        <div *ngSwitchCase="'select'">
          <div class="select-box">
          <select [id]="field.key"
                  [name]="field.key"
                  [(ngModel)]="formData[field.key]"
                  [required]="!!field.required"
                  #ctrl="ngModel"
                  [ngClass]="{ 'placeholder-selected': formData[field.key] === '' }">
            <option value="" disabled hidden>{{ field.placeholder || 'Selectează o opțiune' }}</option>
            <option *ngFor="let option of field.options" [value]="option">{{ option }}</option>
          </select>
          </div>
          <div class="error" *ngIf="field.required && ctrl.invalid && (ctrl.dirty || ctrl.touched || formSubmitted)">
            Câmpul {{ field.label | lowercase }} este obligatoriu.
          </div>
        </div>

        <!-- Textarea -->
        <div *ngSwitchCase="'textarea'">
        <div class="input-box">
          <textarea [id]="field.key"
                    [name]="field.key"
                    [(ngModel)]="formData[field.key]"
                    [placeholder]="field.placeholder"
                    [required]="!!field.required"
                    rows="4"
                    #ctrl="ngModel">
          </textarea>
          </div>
          <div class="error" *ngIf="field.required && ctrl.invalid && (ctrl.dirty || ctrl.touched || formSubmitted)">
            Câmpul {{ field.label | lowercase }} este obligatoriu.
          </div>
        </div>

        <!-- Fallback -->
        <div *ngSwitchDefault>
          <div class="input-box">
          <input [type]="field.type"
                 [id]="field.key"
                 [name]="field.key"
                 [(ngModel)]="formData[field.key]"
                 [placeholder]="field.placeholder"
                 [required]="!!field.required"
                 #ctrl="ngModel" />
          </div>
          <div class="error" *ngIf="field.required && ctrl.invalid && (ctrl.dirty || ctrl.touched || formSubmitted)">
            Câmpul {{ field.label | lowercase }} este obligatoriu.
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="form-group full-width">
    <button type="submit"
            class="send-button">
      {{ submitText }}
    </button>
  </div>
</form>
