<div class="grid-form">
  <div class="button-group">
    <button class="admin-button" routerLink="/admin/users" routerLinkActive="active">Utilizatori</button>
    <button class="admin-button" routerLink="/admin/specialists" routerLinkActive="active">Specialiști</button>
    <button class="admin-button">Categorii</button>
    <button class="admin-button">Solicitări</button>
    <button class="admin-button">Oferte</button>
    <button class="admin-button">Tranzacții</button>
  </div>
</div>

<router-outlet></router-outlet>
