<!--<nav class="navbar">-->
<!--  &lt;!&ndash; In your navbar HTML &ndash;&gt;-->
<!--  <button class="logo-button toggle-btn" routerLink="/home" data-btn="Acasă">-->
<!--    <img src="logo.svg" alt="Logo" />-->
<!--  </button>-->
<!--  <ul class="navbar-links">-->
<!--    <li><a routerLink="/about" routerLinkActive="active">Despre noi</a></li>-->
<!--    <li><a routerLink="/solicitations" routerLinkActive="active">Mesajele mele</a></li>-->
<!--    <li><a routerLink="/register" routerLinkActive="active">Contul meu</a></li>-->
<!--    <li><a routerLink="/admin" routerLinkActive="active">Administrare</a></li>-->
<!--  </ul>-->
<!--</nav>-->

<!--<router-outlet></router-outlet>-->

<nav class="navbar">
  <!-- Logo button -->
  <button class="logo-button toggle-btn" routerLink="/home" data-btn="Acasă">
    <img src="logo.svg" alt="Logo" />
  </button>

  <!-- Hamburger toggle button -->
  <button class="navbar-toggle" (click)="toggleNavbar()">&#9776;</button>

  <!-- Navigation links -->
  <ul class="navbar-links" [ngClass]="{ 'show': navbarOpen }">
    <li *ngIf="authService.getUserRole() === 'Client'">
<!--    <li>-->
      <a routerLink="profile/user/become-specialist" routerLinkActive="active">Devino specialist!</a>
    </li>

    <li><a routerLink="/about" routerLinkActive="active">Despre noi</a></li>
    <li>
<!--    <li *ngIf="authService.getUserRole() === 'Client' || authService.getUserRole() === 'Specialist'">-->
      <a routerLink="/messages" routerLinkActive="active">Mesajele tale</a>
    </li>

    <li>
<!--      <a-->
<!--        [routerLink]="authService.getToken() ? '/profile' : '/register'"-->
<!--        routerLinkActive="active">-->
<!--        {{ authService.getToken() ? 'Contul tău' : 'Înregistrează-te!' }}-->
<!--      </a>-->
      <a routerLink="/profile" routerLinkActive="active">Contul tău</a>
    </li>

<!--    <li>-->
    <li *ngIf="authService.getUserRole() === 'Admin'">
      <a routerLink="/admin" routerLinkActive="active">Admin Dashboard</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>

