<div class="home-wrapper">
  <div class="home-header">
    <h1 style="font-style: italic;">Ai o țeavă spartă?</h1>
    <h1 style="font-style: italic;">Ți s-a stricat chiuveta?</h1>
    <h1>Nu-i problemă, găsește specialistul potrivit pe <strong class="brand-highlight">ExpertEase</strong>!</h1>
  </div>

  <div class="search-box-wrapper">
    <app-search-input (searchChanged)="onSearch($event)"></app-search-input>
  </div>

  <p>Peste <strong>100 de specialiști</strong> înregistrați pe platforma noastră!</p>
</div>

<div class="user-list">
  <ng-container *ngFor="let user of users; let i = index">
    <app-specialist-card
      [specialist]=user
      (specialistId)="user.id = $event"
      (requestFormSubmit)="addRequest($event)">
    </app-specialist-card>

    <!-- Add separator between cards, but not after the last one -->
    <div class="separator" *ngIf="i < users.length - 1"></div>
  </ng-container>
</div>

<app-pagination
  [currentPage]="currentPage"
  [pageSize]="pageSize"
  [pageSizeOptions]="[5, 10, 20]"
  [totalItems]="totalItems"
  (pageChange)="onPageChange($event)"
  (pageSizeChange)="onPageSizeChange($event)">
</app-pagination>
