<div class="chat-wrapper">
  <div class="chat-container">
    <div class="sidebar">
      <div class="sidebar-header">Convorbiri</div>
      <div
        class="conversation"
        *ngFor="let conv of exchanges"
        (click)="loadExchange(conv.id)"
        [class.active]="conv.id === selectedExchange?.id">
        <img src="assets/avatar.svg" alt="avatar">
        {{ conv.fullName }}
      </div>
    </div>

    <div class="chat-area" *ngIf="selectedExchange; else noSelection">
      <div class="chat-header">
        <div>{{ selectedExchange.fullName }}</div>
        <div>
          <button>
            <img src="assets/icons/info.svg" alt="specialist_info" [routerLink]="['/specialist', selectedExchange.id]">
          </button>
        </div>
      </div>

      <div class="chat-messages">
        <app-message-bubble *ngFor="let msg of selectedExchange.messages"
          [message]="msg"
          [currentUserId]="userId">
        </app-message-bubble>
        <ng-container *ngFor="let request of selectedExchange.requests">
          <!-- Request message -->
          <div [ngClass]="userRole === 'Client' ? 'message-right' : 'message-left'">
            <app-request-message
              [request]="request"
              (requestAccepted)="acceptRequest(request.id)"
              (requestRejected)="rejectRequest(request.id)"
              (makeOffer)="openReplyForm($event)">
            </app-request-message>
            <div class="conversation-overlay" *ngIf="isReplyFormVisible && selectedRequestId === request.id">
              <app-reply-form
                [replyForm]="replyForm"
                (formSubmit)="submitReply($event)"
                (close)="closeReplyForm()">
              </app-reply-form>
            </div>
          </div>

          <ng-container *ngFor="let reply of request.replies">
            <div [ngClass]="userRole === 'Client' ? 'message-left' : 'message-right'">
              <app-reply-message
                [reply]="reply"
                [requestId]="request.id"
                (replyAccepted)="acceptReply($event.requestId, $event.replyId)"
                (replyRejected)="rejectReply($event.requestId, $event.replyId)">
              </app-reply-message>
            </div>

            <ng-container *ngIf="hasActiveServiceTask(request)">
              <div class="conversation-overlay">
                <ng-container *ngIf="isReviewFormVisible; else showTaskOverlay">
                  <app-review-form
                    [reviewForm]="reviewForm"
                    (formSubmit)="submitReview($event)"
                    (close)="closeReviewForm()">
                  </app-review-form>
                </ng-container>

                <ng-template #showTaskOverlay>
<!--                  <app-service-message-->
<!--                    [serviceTask]="getLastReplyWithServiceTask(request)?.serviceTask!"-->
<!--                    [replyId]="getLastReplyWithServiceTask(request)?.id!"-->
<!--                    (taskCompleted)="completeTask($event.replyId, $event.taskId)"-->
<!--                    (taskCancelled)="cancelTask($event.replyId, $event.taskId)">-->
<!--                  </app-service-message>-->
                </ng-template>
              </div>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>

      <div class="chat-input">
        <button>
          <img src="assets/icons/photo_media.svg" alt="photo_media" (click)="openMediaPicker()">
        </button>
        <input
          type="text"
          placeholder="Scrie un mesaj aici"
          [(ngModel)]="messageContent"
          (keydown.enter)="sendMessage(messageContent)"
        />
        <button class="send-btn" (click)="sendMessage(messageContent)">→</button>
      </div>
    </div>
    <ng-template #noSelection>
      <div class="chat-area empty">
        <p>Nu există conversații disponibile.</p>
      </div>
    </ng-template>
  </div>
</div>

<!--<div class="overlay" *ngIf="isReplyFormVisible">-->
<!--  <app-reply-form-->
<!--    [replyForm]="replyForm"-->
<!--    (formSubmit)="submitReply($event)"-->
<!--    (close)="closeReplyForm()">-->
<!--  </app-reply-form>-->
<!--</div>-->

