<div class="request-wrapper">
  <div class="request-summary"
       [ngClass]="{
       'rejected-bg': request.status === 'Rejected',
       'accepted-bg': request.status === 'Accepted' || request.status === 'Confirmed',
     }">
    <h3>Solicitare</h3>

    <p><strong>Data și ora:</strong> {{ request.requestedStartDate | date: 'short' }}</p>
    <p><strong>Descriere:</strong> {{ request.description }}</p>
    <p *ngIf="request.senderContactInfo?.address">
      <strong>Adresă:</strong> {{ request.senderContactInfo?.address }}
    </p>
    <p *ngIf="request.senderContactInfo?.phoneNumber">
      <strong>Telefon:</strong> {{ request.senderContactInfo?.phoneNumber }}
    </p>

    <!-- Status-specific actions -->
    <!-- Pending -->
    <div *ngIf="request.status === 'Pending'">
      <p *ngIf="userRole === 'Client'" class="status-button status-pending">În așteptare...</p>

      <div *ngIf="userRole === 'Specialist'" class="action-buttons">
        <button class="accept-btn" (click)="acceptRequest()">
          Acceptă
        </button>
        <button class="reject-btn" (click)="rejectRequest()">
          Respinge
        </button>
      </div>
    </div>
    <!-- Accepted (urmeaza sa bag logica pentru a avea butonul de oferta doar daca e specialist) -->
    <div *ngIf="showOfferButton()" class="action-buttons">
      <button class="offer-btn" (click)="triggerOffer()">Fă o ofertă</button>
    </div>
  </div>
</div>

